<div class="banner">
    <div class="describ-banner">
        <p>Welcome to Abano Cosmetics, where we believe in the power of natural beauty. Our mission is to create effective, high-quality cosmetics that enhance your natural features and leave you feeling confident and beautiful.</p>
        <div class="btn-banner">
            <button>SHOP NOW</button>
        </div>
    </div>
        <div class="img-banner">
            <div class="img1">
                <img src="./assets/img-banner.png" alt="">
            </div>
            <div class="img2">
                <img src="./assets/img-banner2.png" alt="">
            </div>
            <div class="img3">
                <img src="./assets/img-banner3.png" alt="">
            </div>
        </div>
   
</div>
